extends ../../components/base/base
block title
    | About page
block main
    .pv-aboutTopBanner
        .container
            .row
                .col-12.pv-aboutInfo__wrap
                    .pv-aboutInfo
                        img(src=require("./images/logo.svg")).pv-aboutInfo__logo.d-none.d-sm-block
                        h2.pv-aboutInfo__title Крупнейший поставщик#[br]самоклеящихся пленочных#[br]материалов
    .pv-servicesWrap    
        .pv-servicesBg
            .pv-servicesBg__item
            .pv-servicesBg__item
            .pv-servicesBg__item
        .container   
            section.pv-services.row
                .pv-circleSlider
                    .pv-rotateCircle
                        ul#pv-circleRotate.pv-circleRotate
                            li.pv-circleRotate__block
                                .pv-circleRotate__icon
                                    i.icon-globe
                                    span 
                            li.pv-circleRotate__block
                                .pv-circleRotate__icon
                                    i.icon-trophy
                                    span 
                            li.pv-circleRotate__block
                                .pv-circleRotate__icon
                                    i.icon-desktop
                                    span 
                            li.pv-circleRotate__block
                                .pv-circleRotate__icon
                                    i.icon-star
                                    span 
                            li.pv-circleRotate__block
                                .pv-circleRotate__icon
                                    i.icon-magic
                                    span 
                            li.pv-circleRotate__block
                                .pv-circleRotate__icon
                                    i.icon-phone
                                    span 
                        .pv-animateWrapper
                            .pv-animate
                                .pv-animateImg
                                    .pv-animateImg__in(data-image=require("./images/aboutTopBg.jpg"))
                                    .pv-animateMore
                                        .pv-animateTitle
                                            h4 Мы продали более 40000 км пленки                                    
                                            | этого хватит, чтобы#[br]обернуть весь земной шар
                            .pv-animate
                                .pv-animateImg
                                    .pv-animateImg__in(data-image=require("./images/aboutTopBg.jpg"))
                                    .pv-animateMore
                                        .pv-animateTitle
                                            h4 Более 6 лет успешной работы
                            .pv-animate
                                .pv-animateImg
                                    .pv-animateImg__in(data-image=require("./images/aboutTopBg.jpg"))
                                    .pv-animateMore
                                        .pv-animateTitle
                                            h4 Более 2 000 товарных позиций
                            .pv-animate
                                .pv-animateImg
                                    .pv-animateImg__in(data-image=require("./images/aboutTopBg.jpg"))
                                    .pv-animateMore
                                        .pv-animateTitle
                                            h4 Более 20 000 довольных клиентов
                            .pv-animate
                                .pv-animateImg
                                    .pv-animateImg__in(data-image=require("./images/aboutTopBg.jpg"))
                                    .pv-animateMore
                                        .pv-animateTitle
                                            h4 Более 500 000 преображенных автомобилей и дизайн пректов
                            .pv-animate
                                .pv-animateImg
                                    .pv-animateImg__in(data-image=require("./images/aboutTopBg.jpg"))
                                    .pv-animateMore
                                        .pv-animateTitle
                                            h4 Более 1000 м2 для комфортных покупок                                                                                                                                                                              
                        .pv-rotateCircle__prev
                            i.fa.fa-angle-left
                        .pv-rotateCircle__next
                            i.fa.fa-angle-right
    .pv-aboutCompany    
        .container
            .row.pv-aboutCompany__title
                h2.col-12 О компании
            .row.row-eq-height.pv-aboutCompany__body
                .col-5.pv-aboutCompany__image.d-none.d-sm-block 
                    img(src=require("./images/aboutCompany.jpg"))
                .col-12.col-sm-7#pv-aboutCompanyTeaxt.pv-aboutCompany__text Компания VINYL4YOU была основана в 2013 году. Изначальной целью компании была поставка самоклеящихся пленочных материалов на территорию РФ из Юго-Восточной Азии. Спустя год, наша компания начала развивать собственную сеть специализированных магазинов, чтобы предоставить клиентам полный ассортимент товаров, производимых на заводах.
                    br 
                    | В 2014 году был запущен интернет-проект, VINYL4YOU.RU для розничных продаж по всей территории РФ и СНГ. Главным приоритетом всегда являлось предоставление доступных цен на качественные материалы.
                    br 
                    | С конца 2018 года, наша компания начала развивать новый проект, VINYL4YOU STUDIO в сфере предоставления услуг по профессиональному нанесению виниловых и тонировочных материалов. За шесть лет работы, мы уверенно обосновались на этом рынке и заняли его лидирующие позиции.
                    br
                    | Все годы работы, главной задачей нашей компании являлось позиционирование материалов не только в автомобильной индустрии, но и других сферах деятельности.
                    br
                    | Компания VINYL4YOU стала не просто поставщиком разных брендов, но и получила статус представителя многих из них, на территории РФ и СНГ. На данный момент, наша компания занимается поставками материалов с заводов Европы, Кореи, Японии, КНР, Тайваня и США.
                    br
                    | Получая обратную связь от клиента, мы постоянно улучшаем сервис и подход к нашей работе. Международные выставки материалов и специализированные журналы не раз освящали новинки и новости нашей компании.
                    br
                    | На сегодняшний день, наша компания занимается не только поставкой и предоставлением услуг, но и разработкой новых инновационных продуктов, целью которых является удовлетворение возникающих потребностей наших клиентов.
                    br 
                    | В 2014 году был запущен интернет-проект, VINYL4YOU.RU для розничных продаж по всей территории РФ и СНГ. Главным приоритетом всегда являлось предоставление доступных цен на качественные материалы.
                    br 
                    | С конца 2018 года, наша компания начала развивать новый проект, VINYL4YOU STUDIO в сфере предоставления услуг по профессиональному нанесению виниловых и тонировочных материалов. За шесть лет работы, мы уверенно обосновались на этом рынке и заняли его лидирующие позиции.
                    br
                    | Все годы работы, главной задачей нашей компании являлось позиционирование материалов не только в автомобильной индустрии, но и других сферах деятельности.
                    br
                    | Компания VINYL4YOU стала не просто поставщиком разных брендов, но и получила статус представителя многих из них, на территории РФ и СНГ. На данный момент, наша компания занимается поставками материалов с заводов Европы, Кореи, Японии, КНР, Тайваня и США.
                    br
                    | Получая обратную связь от клиента, мы постоянно улучшаем сервис и подход к нашей работе. Международные выставки материалов и специализированные журналы не раз освящали новинки и новости нашей компании.
                    br
                    | На сегодняшний день, наша компания занимается не только поставкой и предоставлением услуг, но и разработкой новых инновационных продуктов, целью которых является удовлетворение возникающих потребностей наших клиентов.
                    br 
                    | В 2014 году был запущен интернет-проект, VINYL4YOU.RU для розничных продаж по всей территории РФ и СНГ. Главным приоритетом всегда являлось предоставление доступных цен на качественные материалы.
                    br 
                    | С конца 2018 года, наша компания начала развивать новый проект, VINYL4YOU STUDIO в сфере предоставления услуг по профессиональному нанесению виниловых и тонировочных материалов. За шесть лет работы, мы уверенно обосновались на этом рынке и заняли его лидирующие позиции.
                    br
                    | Все годы работы, главной задачей нашей компании являлось позиционирование материалов не только в автомобильной индустрии, но и других сферах деятельности.
                    br
                    | Компания VINYL4YOU стала не просто поставщиком разных брендов, но и получила статус представителя многих из них, на территории РФ и СНГ. На данный момент, наша компания занимается поставками материалов с заводов Европы, Кореи, Японии, КНР, Тайваня и США.
                    br
                    | Получая обратную связь от клиента, мы постоянно улучшаем сервис и подход к нашей работе. Международные выставки материалов и специализированные журналы не раз освящали новинки и новости нашей компании.
                    br
                    | На сегодняшний день, наша компания занимается не только поставкой и предоставлением услуг, но и разработкой новых инновационных продуктов, целью которых является удовлетворение возникающих потребностей наших клиентов.
    .pv-greyGradient
        .container
            .pv-ourMission
                .row.pv-ourMission__titleWrap
                    .col-12
                        h2.pv-ourMission__title Наша миссия
                        .pv-ourMission__detail Наша компания не стоит на месте. На постоянной основе проводятся маркетинговые исследования. На базе собранных данных, мы генерируем предложения. Новые отрасли деятельности и свежее позиционирование, позволяли и позволяют нам быть максимально полезными для наших клиентов.
                .row.pv-ourMission__item
                    .col-12.col-md-6.pv-ourMission__item_img-wrapper
                        img(src=require("./images/ourMission-1.png")).pv-ourMission__item_img
                    .col-12.col-md-6.pv-ourMission__item_data
                        .pv-ourMission__item_title Делаем мир ярче
                        .pv-ourMission__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.pv-ourMission__item
                    .col-12.col-md-6.pv-ourMission__item_img-wrapper
                        img(src=require("./images/ourMission-2.png")).pv-ourMission__item_img
                    .col-12.col-md-6.pv-ourMission__item_data
                        .pv-ourMission__item_title Вдохновляем на изменения
                        .pv-ourMission__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.pv-ourMission__item
                    .col-12.col-md-6.pv-ourMission__item_img-wrapper
                        img(src=require("./images/ourMission-3.png")).pv-ourMission__item_img
                    .col-12.col-md-6.pv-ourMission__item_data
                        .pv-ourMission__item_title Не перестаем развиваться
                        .pv-ourMission__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .row.pv-ourMission__item
                    .col-12.col-md-6.pv-ourMission__item_img-wrapper
                        img(src=require("./images/ourMission-4.png")).pv-ourMission__item_img
                    .col-12.col-md-6.pv-ourMission__item_data
                        .pv-ourMission__item_title Расширяем горизонты
                        .pv-ourMission__item_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .pv-ourAdvantages
        .container
            .row.pv-ourAdvantages__titleWrap
                .col-12
                    h2.pv-ourAdvantages__title Наши преимущества
            .row.pv-ourAdvantages__items
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages1.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Разработка и поставка инновационной продуции
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages2.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Лучшие цены на рынке автовинила
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages3.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Гарантия качества поставляемых материалов и предоставляемых услуг  
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages4.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Собственный детейлинг-центр VINYL4YOU STUDIO
            .row.pv-ourAdvantages__items
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages5.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Оперативная доставка по всей территории РФ и СНГ
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages6.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Огромный асортимент товаров в наличии на складе
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages7.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Собственная сеть магазинов VINYL4YOU
                .col-12.col-sm-6.col-lg-3.pv-ourAdvantages__item
                    img(src=require("./images/icon-advantages8.svg")).pv-ourAdvantages__item-icon
                    .pv-ourAdvantages__item-text Поддержка на всех этапах сотрудничества
    .pv-stock
        .pv-stock__title Склад в Москве с самовывозом
        .pv-stock__desc Вы можете самостоятельно забрать товары в крупном обьеме с нашего склада в Москве. Наши сотрудники помогут аккуратно погрузить материал в Ваш автомобиль так, чтобы он доехал в целости и сохранности.
        .pv-stock__img
    include ../../components/filiales/filiales.pug 
    include ../../components/brands/brands.pug 
    include ../../components/feedbacks/feedbacks.pug 
