.pv-ourBrands
    .container
        .row
            .col-12
                .pv-ourBrands__title Наши бренды
                .pv-ourBrands__slider
                    img(src=require("./images/logos/logo_5star.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_avery.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_dicoin.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_hexis.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_isee2.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_kpmf.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_maxplus.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_nippon.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_oracal.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_rayno.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_rubberpaint.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_scorpio.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_scorpio5star.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_shadowguard.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_teckwrap.svg")).pv-ourBrands__sliderItem
                    img(src=require("./images/logos/logo_uzlex.svg")).pv-ourBrands__sliderItem
                a(href="#").pv-ourBrands__all Посмотреть все бренды