extends ../../components/base/base
block title
    | Index page
block main
    .pv-topBanner(style="background-image: url("+require("./images/topBg.jpg")+")")
        .pv-topPartner
            .pv-topPartner__wrap
                h2.pv-topPartner__title Хотите стать #[br]нашим партнёром?
                .pv-topPartner__text Чтобы ознакомится с нашим предложением и узнать индивидуальные условия сотрудничества, вам просто нужно оставить ваш контактный номер телефона, для обратной связи.
                .pv-topPartner__form 
                    input.pv-topPartner__input
                    .pv-topPartner__btn Оставить заявку
                .pv-topPartner__info Нажимая кнопку "Оставить заявку" вы соглашаетесь #[a(href="#").pv-topPartner__legacy с пользовательским соглашением].
    
    ul.pv-breadcrumb 
        li.pv-breadcrumb__item 
            a(href="#").pv-breadcrumb__link Главная страница
        li.pv-breadcrumb__item 
            a(href="#").pv-breadcrumb__link О компании
        li.pv-breadcrumb__item Сотрудничество

    .pv-ourDiff
        h2.pv-ourDiff__title Наши преимущества
        h4.pv-ourDiff__slogan Надежный поставщик с гарантией качества
        .pv-ourDiff__wrap
            .pv-ourDiff__item
                img(src=require("./images/icon-price.svg")).pv-ourDiff__item_icon
                .pv-ourDiff__item_title Цены
                .pv-ourDiff__item_text Мы предлагаем лучшие цены на рынке автомобильных пленок
            .pv-ourDiff__item
                img(src=require("./images/icon-delivery.svg")).pv-ourDiff__item_icon
                .pv-ourDiff__item_title Поставка
                .pv-ourDiff__item_text Мы являемся производителями и представителями продаваемых брендов
            .pv-ourDiff__item
                img(src=require("./images/icon-team.svg")).pv-ourDiff__item_icon
                .pv-ourDiff__item_title Команда
                .pv-ourDiff__item_text С вами работает команда профессионалов с многолетним опытом
            .pv-ourDiff__item
                img(src=require("./images/icon-stock.svg")).pv-ourDiff__item_icon
                .pv-ourDiff__item_title Склад
                .pv-ourDiff__item_text Товар всегда в наличии и готов к отправке в любую точку РФ и СНГ

    .pv-about(style="background-image: url("+require("./images/aboutBg.jpg")+")")
        h2.pv-about__title О нас
        h4.pv-about__slogan Широкие возможности для вашего бизнеса 
        .pv-about__wrap
            .pv-about__item
                .pv-about__item_title 6+
                hr.pv-about__item_hr
                .pv-about__item_text лет помогаем развитию вашего бизнеса
            .pv-about__item
                .pv-about__item_title 2 000+
                hr.pv-about__item_hr
                .pv-about__item_text партнеров сотрудничают с нашей компанией
            .pv-about__item
                .pv-about__item_title 10 000+
                hr.pv-about__item_hr
                .pv-about__item_text рулонов ежегодно поставляем на территорию РФ и СНГ
            .pv-about__item
                .pv-about__item_title 100%
                hr.pv-about__item_hr
                .pv-about__item_text честность и открытость по отношению к клиентам

    .pv-wyg
        h2.pv-wyg__title Что вы получаете?
        .pv-wyg__wrap
            .pv-wyg__item
                .pv-wyg__item_img-wrapper
                    img(src=require("./images/wyg1.jpg")).pv-wyg__item_img            
                .pv-wyg__item_data
                    .pv-wyg__item_number 1
                    .pv-wyg__item_title Индивидуальные условия
                    .pv-wyg__item_text Исходя из вашей потребности, мы создаем уникальное предложение, нацеленное на рост вашего бизнеса и долгосрочное сотрудничество.
            .pv-wyg__item
                .pv-wyg__item_img-wrapper
                    img(src=require("./images/wyg2.jpg")).pv-wyg__item_img            
                .pv-wyg__item_data
                    .pv-wyg__item_number 2
                    .pv-wyg__item_title Оперативную доставку
                    .pv-wyg__item_text На наших складах всегда имеется полный ассортимент товарных позиций, готовых к отправке в любую точку РФ и СНГ. Если же вы находитесь в Москве, мы привезем ваш товар в день заказа вне зависимости от количества позиций.
            .pv-wyg__item
                .pv-wyg__item_img-wrapper
                    img(src=require("./images/wyg3.jpg")).pv-wyg__item_img            
                .pv-wyg__item_data
                    .pv-wyg__item_number 3
                    .pv-wyg__item_title Товары от производителя
                    .pv-wyg__item_text На сегодняшний день, наша компания занимается не только поставкой и предоставлением услуг, но и разработкой новых инновационных продуктов, целью которых является удовлетворение возникающих потребностей наших клиентов.
            .pv-wyg__item
                .pv-wyg__item_img-wrapper
                    img(src=require("./images/wyg4.jpg")).pv-wyg__item_img            
                .pv-wyg__item_data
                    .pv-wyg__item_number 4
                    .pv-wyg__item_title Большой ассортимент
                    .pv-wyg__item_text Помимо производства, наша компания является дистрибьютером многих известных брендов. Мы не перестаем изучать потребности наших клиентов и расширяем ассортимент, учитывая все факторы. Не одна компания в РФ не может предоставить такого количества товарных позиций.